In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("archive (1)\placement.csv")

In [4]:
dataset

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [25]:
x=dataset.drop("package",axis=1)

In [26]:
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [27]:
y=dataset["package"]

In [28]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [30]:
X_train

     cgpa
114  5.84
173  6.75
5    7.89
126  5.91
117  7.12
..    ...
106  6.13
14   7.73
92   7.90
179  7.14
102  5.13

[150 rows x 1 columns]

In [31]:
y_train

114    1.87
173    2.56
5      2.99
126    2.60
117    2.99
       ...
106    2.19
14     3.42
92     4.00
179    3.03
102    1.37
Name: package, Length: 150, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()