In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("archive (1)\placement.csv")

In [4]:
dataset

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [65]:
x=dataset.drop("package",axis=1).values

In [66]:
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [67]:
y=dataset["package"].values

In [68]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [70]:
X_train

     cgpa
114  5.84
173  6.75
5    7.89
126  5.91
117  7.12
..    ...
106  6.13
14   7.73
92   7.90
179  7.14
102  5.13

[150 rows x 1 columns]

In [71]:
y_train

114    1.87
173    2.56
5      2.99
126    2.60
117    2.99
       ...
106    2.19
14     3.42
92     4.00
179    3.03
102    1.37
Name: package, Length: 150, dtype: float64

In [72]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [73]:
y_pred=model.predict(X_test)

In [75]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
r2 = r2_score(y_pred=y_pred,y_true=y_test)
mse = mean_squared_error(y_pred=y_pred,y_true=y_test)
print(mse)
print(r2)

0.09122322472141596
0.7774721122516276

In [76]:
y_pred

array([2.78658779, 3.14067821, 3.2035007 , 2.39823057, 3.52903544,
       3.76890314, 3.16923389, 2.55243123, 3.18065616, 3.49476862,
       1.91849517, 2.35825262, 3.68894724, 2.76374325, 3.47763522,
       3.04930004, 2.33540807, 3.20921184, 2.18691855, 3.31772342,
       2.46105306, 2.90652164, 3.32343455, 2.87796597, 3.34056796,
       2.20405195, 1.43304863, 2.71805417, 3.18636729, 2.33540807,
       3.74605859, 2.963633  , 3.6832361 , 2.98076641, 2.59812032,
       3.35199023, 2.4838976 , 3.07785572, 4.17439377, 2.963633  ,
       3.10070026, 3.11783367, 3.9231038 , 2.72947644, 1.9242063 ,
       2.95792187, 3.08356685, 3.27203433, 1.77000564, 3.34627909])

In [77]:
y_test

95     2.79
15     3.23
30     3.26
158    3.04
128    3.34
115    4.21
69     2.94
170    2.87
174    2.99
45     3.58
66     1.63
182    2.08
165    4.08
78     2.21
186    3.47
177    3.64
56     2.74
152    3.08
82     2.17
68     2.99
124    2.31
16     2.35
148    3.40
93     3.08
65     3.81
60     2.19
84     1.53
67     2.89
125    3.16
132    2.48
9      3.51
18     2.98
55     3.39
75     3.28
150    2.73
104    3.74
135    2.60
137    3.13
164    3.82
76     3.15
79     3.00
197    3.24
38     4.36
24     2.71
122    2.01
195    2.46
29     3.49
19     2.83
143    1.54
86     2.77
Name: package, dtype: float64